p {
  outline-color:LimeGreen;
  font-family: 'Poppins';
  text-align: center;
}

.dashed {
  outline-style: dashed;
}

html {
box-sizing: border-box;
}

*,
*:before,
*:after {
box-sizing: inherit;
}

.column {
float: left;
width: 33.3%;
margin-bottom: 16px;
padding: 0 8px;
}

@media screen and (max-width: 650px) {
.column {
  width: 100%;
  display: block;
}

  header {
    margin-top: 20px;
    background-color: #6aa84f;
  }
  .top-bar {
      background-color: #6aa84f;
      padding: 20px;
  }
  .horizontal-nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .horizontal-nav li {
    display: inline;
    padding: 10px;
  }
  .horizontal-nav li a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
    transition: font-size 0.5s, color 1s;
    width: 150px;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif
  }

.horizontal-nav li a:hover {
    font-size: 25px;
    color: #d9ead3;
}

a{
        transition: font-size 2s, color 2s}
      a: hover{ font-size: 18px; 
  color: BurlyWood;}
      a { color: Black; text-decoration: none; text-shadow: 2px 2px 4px rbg(0, 0, 0, 0.5);
        }

footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSeaGreen;
    color: white;
  }



hr{
        height: 2px;
        color: green;
      }

      article {
        width: 100%;
        height: auto;
      }
      section::after {
      content: "";
      display: table;
      clear: both;

      p{font-size: 25px;}
      h1{font-size: 50px;}

      {
        font-family: "Georgia", Times, serif;  text-align: center;font-size: 45px;
      }

        footer {
          text-align: center;
          padding: 3px;
          background-color: DarkSeaGreen;
          color: white;
          font-family: 'Poppins',  text-align: center;
        }

        a{
          transition: font-size 2s, color 2s}
        a: hover{ font-size: 18px; color: BurlyWood;}
        a { color: Black; text-decoration: none; text-shadow: 2px font-family: 'Poppins',  text-align: center;
            2px 4px rbg(0, 0, 0, 0.5);}

{
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
